$main-ff: 'Montserrat', sans-serif;
$fs: 10px;
$bg: #fff;
$header-bg: #fff;
$header-clr:#1111117A;
$accent-clr: #01A7FD;
$footer-clr: #000;
$main-clr: #111111;
$input-clr: #474747;
$shadow: 0px 1px 0px rgba(17, 17, 17, 0.1);
$border: 0.2rem solid #01A7FD;
$inp-border: 1px solid #F1F1F1;


